body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, rgb(9, 185, 176), #013f60);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(237, 191, 7, 0.88);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 15px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #f2f2f2;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

.cell:hover {
  background: #ddd;
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  padding: 8px 15px;
  border: none;
  background:maroon;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: maroon;
}

@keyframes fall {
  to { transform: translateY(100vh); opacity: 0; }
}